.search-box{
   list-style-type: none;
   z-index: 15;
   position: absolute;
   max-width: 100%;
   width: 100%; 
   font-size: inherit;
   padding: 0px !important;
   margin: 0px !important;
   background-color: #fbfbfb;
   -webkit-box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
   -moz-box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
   box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
}
.search-element{
   padding: 5px;
   margin-bottom: 0px;
   height: auto;
   text-decoration: none;
   color: black;
   overflow: hidden;
   border-bottom: 1px solid #fafafa; 
   text-align: center;
}
.search-element:hover{
   background-color:#eee;
} 
.term-element{
   padding-top: 2px;
   padding-bottom: 2px;
}


/*CSS FOR Products */
.product-title{
   margin: 0;
   margin-left: 10px;
   padding: 2px;
   text-align: center;
   position: relative;
}
.product-link{
   text-decoration: none;
   color: black;
   margin: 0px !important;
   padding: 0px !important;
   display: flex !important;
   align-items: center;
}
.product-image{
   position: relative;
   width: 50px;
   padding: 2px;
}

/*CSS FOR TERM */
.term-title{
   position: relative;
   text-align: left;
   margin: 0;
   padding: 2px;
}
.term-title b{
   font-weight: bold !important;
}

.term-link{
   position: relative;
   text-decoration: none;
   color:black;
   text-align: left;
   margin: 0;
   padding: 2px;
}

