.popup{
   position: fixed;
   top: 15vh;
   width: 50vw;
   left: 25vw;
   height: 600px;
   max-height: 85vh;
   background-color: #eee;
   border-radius: 10px;
   display: none;
   z-index: 999999;
}

@media (max-width: 1200px){
   .popup{
      width: 74vw;
      left: 13vw;
      top:10vh; 
      max-height: 90vh;
   }
}
@media (max-width: 900px){
   .popup{
      width: 80vw;
      left: 10vw;
      top:10vh; 
      max-height: 90vh;
   }
}
@media (max-width: 600px){
   .popup{
      width: 100vw;
      left: 0vw; 
      top:10vh; 
      max-height: 90vh;
   }
}
.center-box{
   position: relative;
    display: grid;
    max-width: 100%;
}
.searchbox{
   padding: 18px;
   border: solid #aaa 1px;
   border-radius: 10px 10px 0px 0px;
   background-color: #fff;
   position: relative;
   font-size: inherit;
   font: inherit; 
}

.searchbox:focus, input:focus,*:focus {
   outline: none;
}
.jibia-search-box{
   list-style-type: none;
   z-index: 1000;
   position: absolute;
   max-width: 100vw;
   opacity: 1;
   visibility: visible;
   width: 100%; 
   font-size: inherit;
   padding: 0px !important;
   margin: 0px !important;
   background-color: #fbfbfb !important;
   -webkit-box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
   -moz-box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
   box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
}

.jibia-search-element{
   padding: 5px;
   margin-bottom: 0px;
   height: auto;
   text-decoration: none;
   color: black;
   overflow: hidden;
   background-color: #fafafa;
   border-bottom: 1px solid #fafafa; 
   text-align: center;
}
.jibia-search-element:hover{
   background-color:#eee;
} 
.jibia-term-element{
   padding-top: 2px;
   padding-bottom: 2px;
}


/*CSS FOR Products */
.jibia-product-title{
   margin: 0;
   margin-left: 10px;
   padding: 2px;
   text-align: center;
   position: relative;
   background-color: #fafafa;
}
.jibia-product-link{
   text-decoration: none;
   color: black !important;
   margin: 0px !important;
   padding: 0px !important;
   display: flex !important;
   align-items: center;
   background-color: #fafafa !important;
}
.jibia-product-image{
   position: relative;
   width: 50px;
   padding: 2px;
}

/*CSS FOR TERM */
.jibia-term-title{
   position: relative;
   text-align: left;
   margin: 0;
   padding: 2px;
}
.jibia-term-title b{
   font-weight: bold !important;
}

.jibia-term-link{
   position: relative;
   text-decoration: none;
   color:black !important;
   text-align: left;
   background-color: #fafafa !important;
   margin: 0;
   padding: 2px;
}

/*CSS FOR CATEGORIES */

.jibia-category-title{
   margin: 0;
   margin-left: 10px;
   padding: 2px;
   text-align: center;
   position: relative;
   background-color: #fafafa;
}
.jibia-category-link{
   text-decoration: none;
   color: black !important;
   margin: 0px !important;
   padding: 0px !important;
   display: flex !important;
   align-items: center;
   background-color: #fafafa !important;
}
.jibia-category-image{
   position: relative;
   width: 50px;
   padding: 2px;
}
