.jibia-search-box{
   list-style-type: none;
   z-index: 15;
   position: absolute;
   max-width: 100%;
   width: 100%; 
   font-size: inherit;
   padding: 0px !important;
   margin: 0px !important;
   background-color: #fbfbfb;
   -webkit-box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
   -moz-box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
   box-shadow: 10px 12px 11px -13px rgba(0,0,0,0.27);
}
.jibia-search-element{
   padding: 5px;
   margin-bottom: 0px;
   height: auto;
   text-decoration: none;
   color: black;
   overflow: hidden;
   border-bottom: 1px solid #fafafa; 
   text-align: center;
}
.jibia-search-element:hover{
   background-color:#eee;
} 
.jibia-term-element{
   padding-top: 2px;
   padding-bottom: 2px;
}


/*CSS FOR Products */
.jibia-product-title{
   margin: 0;
   margin-left: 10px;
   padding: 2px;
   text-align: center;
   position: relative;
}
.jibia-product-link{
   text-decoration: none;
   color: black !important;
   margin: 0px !important;
   padding: 0px !important;
   display: flex !important;
   align-items: center;
}
.jibia-product-image{
   position: relative;
   width: 50px;
   padding: 2px;
}

/*CSS FOR TERM */
.jibia-term-title{
   position: relative;
   text-align: left;
   margin: 0;
   padding: 2px;
}
.jibia-term-title b{
   font-weight: bold !important;
}

.jibia-term-link{
   position: relative;
   text-decoration: none;
   color:black !important;
   text-align: left;
   margin: 0;
   padding: 2px;
}

